{% extends "main.html" %}

{% block body %}
Kontakt
<hr/>
<p>
Strona intenetowa wykonana w ramach przedmiotu "Projektowanie serwisów sieciowych."
</br>
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis tristique facilisis. Curabitur vestibulum imperdiet lacus vitae vehicula. In iaculis turpis at tortor euismod, sit amet dignissim dolor maximus. Donec porttitor enim in ex sagittis tempus. Phasellus laoreet id orci vitae sollicitudin. Morbi orci odio, semper eu dapibus a, sodales non lacus. Aliquam tempus cursus mauris ut cursus. Curabitur aliquam odio augue. Mauris tempor dui est, vel vulputate diam vestibulum nec. Nunc auctor eros ante, eget porttitor magna pellentesque vel. Donec consequat erat a risus sagittis dictum.
</p>
</br>
<p align="right">Autor: Piotr Rachwał</p>



{% endblock %}
