{% extends "main.html" %}
{% load static %}
{% block body %}

<div class="container">

Galeria
<hr/>
  
  <div class="row">
  <div class="col"><figure class="photo">
  
    <img src="{% static 'img/default.jpg' %}" alt="Sala szkoleniowa">
    <figcaption>
      Sala szkoleniowa
    </figcaption>
  </figure></div>
 
  <div class="col"><figure class="photo">
   <img src="{% static 'img/default.jpg' %}"
         alt="Nasze auta">
    <figcaption>
      Nasze auta
    </figcaption>
  </figure></div>
   
     <div class="col"><figure class="photo">
   <img src="{% static 'img/default.jpg' %}"
         alt="Nasze auta">
    <figcaption>
      Nasze auta
    </figcaption>
  </figure></div>
 
 
</div>

<div class="row">
  <div class="col"><figure class="photo">
    <img src="{% static 'img/default.jpg' %}"
         alt="Plac manewrowy">
    <figcaption>
     Plac manewrowy
    </figcaption>
  </figure></div>
    <div class="col"><figure class="photo">
    <img src="{% static 'img/default.jpg' %}"
         alt="Plac manewrowy">
    <figcaption>
      Plac manewrowy
    </figcaption>
  </figure></div>
  <div class="col"><figure class="photo">
    <img src="{% static 'img/default.jpg' %}"
         alt="Samochód">
    <figcaption>
      Samochód
    </figcaption>
  </figure></div>
</div>

<div class="row">
  <div class="col"><figure class="photo">
    <img src="{% static 'img/default.jpg' %}"
         alt="Plac manewrowy">
    <figcaption>
     Plac manewrowy
    </figcaption>
  </figure></div>
    <div class="col"><figure class="photo">
    <img src="{% static 'img/default.jpg' %}"
         alt="Plac manewrowy">
    <figcaption>
      Plac manewrowy
    </figcaption>
  </figure></div>
  <div class="col"><figure class="photo">
    <img src="{% static 'img/default.jpg' %}"
         alt="Samochód">
    <figcaption>
      Samochód
    </figcaption>
  </figure></div>
</div>
</div>





{% endblock %}